/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* sheared styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Azeret Mono', monospace;
}
header,
main,
footer {
  width: 1440px;
  margin: 0 auto;
}
.primary-bg {
  background-color: #fafafa;
}
.section-header-container {
  padding: 0px 48px;
}
.section-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.section-description {
  color: rgb(13, 19, 33);
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}

/* Banner styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 38px 150px;
  align-items: center;

}
.nav-bar a {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}
.download-btn {
  padding: 17px 24px 17px 24px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
}
.header-container {
  background-image: url('../images/Hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 852px;
  height: 581px;
  gap: 30px;
  padding: 26px 0px 45px 0px;
}
.banner-container img {
  width: 173.03px;
  height: 228.9px;
  align-self: center;
}
.banner-title {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.banner-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  padding: 0px 73px;
}
.btn-container {
  text-align: center;
}
.btn {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
  border: none;
  cursor: pointer;
}

/* why developer styles  */
.development-section-description {
  color: rgb(13, 19, 33);
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.why-development-section {
  display: flex;
  /* width: 1140px; */
  margin: 74px 152px 90px 148px;
  padding: 80px 97px;
  justify-self: center;
}

.change-the-world-container {
  display: flex;
  justify-content: space-between;
  padding: 48px 48px 0px 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin-top: 48px;
}
.change-the-world-text {
  width: 477px;
}
.change-the-world-text h4 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
}
.change-the-world-text p {
  color: rgb(13, 19, 33);
  line-height: 26px;
  letter-spacing: 0%;
  opacity: 0.7;
}
.learn-more-btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px 12px 20px;
  margin: 32px 0px;
  cursor: pointer;
}
.change-the-world-image img {
  width: 274.17px;
}
/* modern web system styles */
.modern-web-system-container {
  display: flex;
  padding: 48px 48px 0px 48px;
  border-radius: 16px;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin-top: 32px;
}
.modern-web-system-text {
  margin-left: 32px;
  width: 477px;
}
.modern-web-system-text h4 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
}
.modern-web-system-text p {
  color: rgb(13, 19, 33);
  line-height: 26px;
  letter-spacing: 0%;
  opacity: 0.7;
  margin-top: 16px;
}

.modern-web-system-image img {
  width: 240px;
}

/* innovation  styles  */
.innovation-container {
  display: flex;
  padding: 48px 48px 0px 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin-top: 32px;
}
.innovation-text {
  margin-left: 32px;
  width: 477px;
}
.innovation-text h4 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
}
.innovation-text p {
  color: rgb(13, 19, 33);
  line-height: 26px;
  letter-spacing: 0%;
  opacity: 0.7;
  margin-top: 16px;
}

/* inspiration styles */
.inspiration-section {
  margin: 74px 152px 90px 148px;
}
.section-description {
  padding: 0px 144px;
}
.inspiration-video-container {
  margin-top: 48px;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
}
.video-control {
  width: 1076px;
  height: 614px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}

/* current-target styles */
.current-targets-section {
  margin: 0px 150px;
}
.current-targets-container {
  display: flex;
  gap: 24px;
  margin-top: 48px;
  margin-bottom: 111px;
}
.current-target-html,
.current-target-css,
.current-target-js {
  padding: 40px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.current-target-html h2,
.current-target-css h2,
.current-target-js h2 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
}
.current-target-html p,
.current-target-css p,
.current-target-js p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  opacity: 0.7;
}
.current-target-html a,
.current-target-css a,
.current-target-js a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-decoration-line: underline;
}
.current-target-html img,
.current-target-css img,
.current-target-js img {
  height: 56px;
  width: 56px;
}
.current-target-html {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}

.current-target-css {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.current-target-js {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}

/* next target styles  */
.next-targets-container {
  margin-top: 48px;
  margin-bottom: 49px;
}
.image-container {
  display: flex;
  align-items: center;
}
.image-container img {
  width: 94px;
  height: 84px;
}

.next-targets-section {
  padding: 0px 150px;
}

.next-targets-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.next-target {
  display: flex;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  gap: 24px;
}

.text-container h4 {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
}
.text-container p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  opacity: 0.7;
}
.text-container a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
}

/* support styles  */
.support-section {
  margin: 0px 150px;
  background-image: url("../images/handshake.jpg");
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  padding: 64px 48px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  margin-bottom: 80px;
}
.support-heading h4 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.support-heading p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  padding: 16px 219px;
}

.input-box {
  display: flex;
  justify-content: center;
}

input[type='text'] {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  width: 548px;
  height: 57px;
  background: rgb(255, 255, 255);
  padding: 19px 20px 19px 20px;
  border: none;
  outline: none;
}
input[type='submit'] {
  padding: 17px 20px 17px 20px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin-left: 16px;
}

/* footer styles */
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 32px 150px;
  /* background: red; */
  align-items: center;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}

.footer-text p {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
